@import "normalize";

$fancy_font: 'Josefin Sans', sans-serif;
$font: 'Playfair Display', serif;
$whitish: #F5F8FF;
$celadon: #F6FDF4;
$terracotta: #DF6E17;
$blue: #2A8FA0;

//layout//

.container {
  width: 100%;
  height: 100%;
  background-color: $celadon;
}

.content {
  padding-top: 140px;
  margin: 0px 3%;
  text-align: center;
  width: 95%;
  font-family: $font;
}

.content a {
  color: $terracotta;
  font-size: large;
}

.content p {
  width: 70%;
  font-size: large;
  color: $blue;
  padding: 10px;
  margin-top: 40px;
}

img {
  width: 90%;
  height: 90%;
}

h2 {
  color: $terracotta;
  font-size: xx-large;
}

p {
  width: 60%;
}

//header with nav bar//

.header {
  position: absolute;
  margin-top: 20px;
  background-color: $celadon;
  width: 100%;
  height: 70px;
  color: $blue;
  @media only screen and (min-width: 321px) and (max-width: 720px) {
  height: 120px;
  }
  @media only screen and (max-width: 321px) {
  height: 140px;
  }
}

.name {
  float: left;
  font-family: $fancy_font;
  font-size: 50px;
  margin-left: 20px;
  margin-top: 20px;
  @media only screen and (min-width: 321px) and (max-width: 720px) {
    font-size: xx-large;
    margin-top:10px;
    text-align: center;
    float: none;
    margin: 0 auto;
  }
  @media only screen and (max-width: 320px) {
    font-size: x-large;
  }
}

nav {
  float: right;
  text-transform: lowercase;
  font-family: $fancy_font;
  font-size: large;
  margin-right: 20px;
}


.clearfix {
  clear: both;
}

li, a {
  text-decoration: none;
  color: $blue;
  @media only screen and (min-width: 321px) and (max-width: 720px) {
    text-align: center;
  }
  @media only screen and (max-width: 721px) {
    display: inline-block;
    padding: 6px;
    text-align: center;
  }
  @media only screen and (min-width: 720px) {
    font-size: x-large;
    display: inline-block;
    padding-right: 15px;
  }
}

a:hover {
  color: $blue;
} 

//work page specifics//

.work {
  float: left;
  margin: 1px;
}

.work1 {
  float: left;
  margin: 1px;
}

.portfolio-slideshow0 {
  position: relative;
  margin: 50px auto;
}

#psp-active {
  margin: 0 auto;
}

//shop page specifics//

.product {
  float: right;
}

.products li {
  float: left;
  margin: 10px;
}

.desc {
  float: left;
}

//words page specifics

.words_image {
  float: left;
  padding-top: 40px;
  padding-left: 10%;
}

.words_links {
  margin-top: 0px;
  float: right;
  font-size: 90px;
  padding-right: 10%;
}

.menu {
  font-size: xx-large;
  font-family: $fancy_font;
  color: $terracotta;
}

.menu img {
  float: left;
  border-radius: 100%;
}

select {
  font-family: $fancy_font;
  color: $terracotta;
  font-size: x-large;
}

//footer//

.footer {
  background-color: $celadon;
  width: 100%;
  height: 90px;
  font-family: $fancy_font;
  padding: 20px;
  margin: 40px auto;
  text-align: center;
}

.footer img {
  border-radius: 100%;
  width: 80px;
}